page-run-set-up {
    .scroll-content {
        background-color: #f8f8f8;
    }

    h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .input {
        background-color: #ffffff;
    }

    .lapsCol {
        display: flex;
        justify-content: center;
    }
}
